//! **************************************************************************
// Written by: Map P.28xd on Fri Jan 18 15:08:04 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "P11" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "X" LOCATE = SITE "M5" LEVEL 1;
COMP "Y" LOCATE = SITE "M11" LEVEL 1;
SCHEMATIC END;

